@use '../base/' as *;

// keeps content inside 1440px width max
html {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: color('dark');
}

a {
  color: color('dark');

  &:hover {
    text-decoration: underline;
  }
}

*:focus {
  outline-color: color('primary');
}
