@use '../components/' as *;

.primary-button {
  font-size: 1rem;
  font-weight: bold;
  color: color('light');
  background-color: color('primary');
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover,
  &:active,
  &:focus {
    background-color: color('primary', 'darker');
  }
}

.cancel-button {
  font-size: 1rem;
  font-weight: bold;
  color: color('light');
  background-color: red;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover,
  &:active,
  &:focus {
    background-color: darken(red, 10);
  }
}
