@use '../components/' as *;

.footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid color('light', 'darker');
  
  // everything below keeps the footer where it belongs
  margin-top: auto;
}

#root { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
