@use '../pages/' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  &__title {
    font-size: 10rem;
    color: color('secondary', 'lighter');
  }

  &__message {
    font-weight: bold;
    font-style: italic;

    &--colored {
      color: color('secondary', 'lighter');
    }
  }

  &__link {
    margin-top: 2rem;
    
    &:hover {
      text-decoration: none;
    }
  }
}
