@use '../pages/' as *;

.user {
  background-color: color('secondary');
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  &__welcome-message {
    color: color('light');
    text-align: center;
    font-size: 2rem;
    margin-block: 1rem;
  }
}